---
layout: default
---

<div class="home">

  <!-- Feature post-->
    <section class="site-section">
    <div class="wrapper">
      <h1>Featured article</h1> 
      {% assign count = 0 %} 
      {% for post in site.posts reversed %}
      {% if post.featured == true and count < 1 %}

        <div class="post post-featured">
          {% include post.html %}
        </div>
          {% assign count = count | plus: 1 %} 
          {% endif %}
          {% endfor %}
        
    </div>
  </section>
  <!-- Feature proyects-->
  <!-- Feature articles-->
  <section class="site-section site-section-last">
    <div class="wrapper">
      <h1>Latest articles</h1>
      <ul class="post-list">
      {% for post in site.posts reversed | limit: 4 %}
        <li class="post">
          {% include post.html %}
          {% endfor %}
        </li>
      </ul>
    </div>
  </section>

</div>
