.site-nav {
    text-align: center;
    
    ul {
        list-style-type: none;
        margin: 1em 0;
    }
    li {
        display: inline-block;
        margin: 0 0.5em;
        font-size: 1.5em;
    }
}
.site-title a {
    color: #000;

    &:hover {
        text-decoration: none;
    }
}
.site-header {
    padding: 2em 0 0;
    border-bottom: 1px solid #ccc;
    background: url(../images/banner.jpg);
    background-size: 400px 400px;
}

/**
 * Site footer
 */
.site-footer {
    color: #FFF;
    padding: 2em 0;
    background: $grey-color-dark;
}
.footer-content {
    float: left;
    width: 40%;
    font-size: 0.875em;

    h3 {
        text-align: left;
    }
}
.footer-social {
    float: right;
    
    li {    
    display: inline-block;
    margin: 0 0.5em;
    }
    svg {
        fill: #FFF;
    }
}


/* Sections */

.site-seccion {
    @extends %clearfix;
    padding-top: h1-font-size;
}
.site-seccion-last {
    padding-bottom: h1-font-size;
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
